<!DOCTYPE html>
<html lang="en">
<head>
<title>Bootstrap Example</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.backgroundimg
{
background:url(vasavi.png) left top no-repeat,url(vasavi1.png);
background-size:cover;
}
.navbar
{
background-color:black;
}
</style>
</head>

<body>
<!--<div id="header-region" class="clear-block"></div>

<div id="wrapper">
<div id="container" class="clear-block">

<div id="header">
<div id="logo-floater">
<h1><a href="/" title="Vasavi College Of Engineering "><imgsrc="Vasavi College of Engineering, Hyderabad Logo alt="                                 Vasavi College Of Engineering (Autonomous)  " id="logo" /><span>Vasavi College Of Engineering (Autonomous)</span></a></h1></div>-->

<!--<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
<div class="container">
<div class="navbar=header">
<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>

<div class="collapse navbar-collapse" id="navbar-collapse">
<ul class="nav navbar-nav">
<li><a href="#"></a>
<li><a href="#">gallery</a>

<li><a href="#">feedback</a>
<li><a href="#">feedback</a>


</ul>
</div>
</div>
</nav>-->
<nav class="navbar navbar-inverse">
<div class="container-fluid">
<div class="navbar-header">
<a class="navbar-brand" href="#">Vasavi College Of Engineering</a>
</div>
<ul class="nav navbar-nav">
<li class="active"><a href="#"><span class="glyphiconglyphicon-home"></span> Home</a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li><a href="#"><span class="glyphiconglyphicon-user"></span> Sign Up</a></li>
<li><a href="#"><span class="glyphiconglyphicon-log-in"></span> Login</a></li>
</ul>


</div>
</nav>




</body>
</html>

